/*-----------Regle d'ensemble----------*/

body {
    margin: 0px 0px 0px 0px;
    font-family: raleway;
    font-size: 0.80rem;
    }
li {
    list-style: none; 
}
.decalage{
    margin: 0px 25px 0px 25px;
}

/*----------Header----------*/

/*----------Menu de navigation principal---------*/

.logo{
    width: 5rem;
    height: auto;
    padding-top: 25px;
}

.navheader {
    display: flex;
    justify-content: space-between ;
}

.menu {
    display: flex;
    justify-content: space-between  ;
    padding-top : 25px;
}

.menu a{
    color: black;
    text-decoration: none;
    border-top : 4px;
    padding-top : 37px;
    padding-left: 30px;
    padding-right: 30px;
    
}

#register {
    color: #0065fc;
    text-decoration: none;
    font-weight: 700;
    border-top : 4px;
    padding-top : 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu a:hover{
    border-top: 4px #0065fc solid;
    color: #0065fc;    
}

/*-----------Section de recherche----------*/

.searchicon{
    display: none;
}
.search{
    margin-bottom: 35px;
    
}
.searchtape{
    display: flex;
    margin-bottom: 25px;
}
.textRecherche{
    font-size: 0.9rem;
    font-weight: 725;
    font-family: raleway;
}
.ecriture {
    font-size: 0.9rem;
    font-weight: 725;
    font-family: raleway;
}
.fa-map-marker-alt{
    font-size: 1rem;
    font-weight: 900;
    padding: 10px 15px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
input[type=search]{
    width: 180px;
    height: 40px;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    text-align: center;
    
}
input[type=submit]{
    width: 115px;
    height: 40px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    
}
input[type=submit]:hover{
    color: #0065FC;
    background-color: #f2f2f2;
    border: 1px solid #F2F2F2;
    cursor: pointer;
}
.filtres{
    display: flex;
    
}

.filtres button{
    display: flex;
    align-items: center;
    height: 35px;
    border: 3px solid #F2F2F2;
    border-radius: 25px;
    background: none;
    padding: 0 10px 0 0;
    margin-right: 20px;
    margin-top: 6px;
    outline: none;
    cursor: pointer;
    font-size: 0.90rem;
    font-weight: 700;
    font-family: raleway;
}
.icon{
    font-size: 1rem;
    display: flex;
    height: 35px;
    width: 35px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    color: #0065FC;
}
.inficon{
    display: inline-flex ;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    margin-right: 7px;
    margin-top: 15px;
    justify-content: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px #f2f2f2 solid;
    color: #0065FC;
}
.filtres button:hover .icon{
    color: rgb(0, 0, 0);
    background-color: white;
    border-color: #F2F2F2;
}
.filtres button:hover{
    background-color: #DEEBFF;
    color: #0065FC;
}
main{
    max-width: 1340px;
    margin: 0 auto;
}
h1{
    margin: 0 0 0.5 0;
    font-weight: 900;
    font-size: 1.1rem;
}
h2{
    font-weight: 900;
    font-size: 1.05rem;
    margin-right: 30px;
    
}

p{
    font-size: 0.80rem;
    }

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #0065FC;
}
.greyStar{
    color: #F2F2F2;
}

/*----------Je suis une comme----------*/
.description {
    margin-top: 25px;
    margin-bottom: 25px;
}
p {
    margin: 0;
    padding: 0;
}

.fas fa-map-marker-alt {
    font-family: "Font Awesome 5 Free";
    display: flex;
    }

/*----------Footer----------*/

footer { 
    background-color: #f2f2f2;
}
.normaliz{
    margin: 0px 250px 0px 25px;
    display: flex;
    justify-content: space-between;
}
.sectionfooter ul{
    padding: 0px 0px 0px 0px;
}
.sectionfooter li{
    padding: 5px 0px 5px 0px;
}



