/*-----------Regle d'ensemble----------*/

body {
    margin: 0px 0px 0px 0px;
    font-family: raleway;
    font-size: 100%;
    }
li {
    list-style: none; 
}
.decalage{
    margin: 0px 40px 45px 40px;
    }
img {
    object-fit: cover;
}

/*----------Header----------*/

/*----------Menu de navigation principal---------*/

.logo{
    width: 7rem;
    height: auto;
    padding-top: 45px;
}

.navheader {
    display: flex;
    justify-content: space-between ;
}

.menu {
    display: flex;
    justify-content: space-between  ;
    padding-top : 25px;
}

.menu a{
    color: black;
    text-decoration: none;
    border-top : 4px;
    padding-top : 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1rem;
    
}

#register {
    color: #0065fc;
    text-decoration: none;
    font-weight: 700;
    border-top : 4px;
    padding-top : 40px;
    padding-left: 15px;
    padding-right: 15px;

}
#register:hover {
    color: #F2F2F2;
    background-color:  #0065fc;
    cursor: pointer; 
    border-radius: 0px 0px 20px 20px;
}

.menu a:hover{
    border-top: 4px #0065fc solid;
    color: #0065fc;   
    cursor: pointer; 
}

/*-----------Section de recherche----------*/

.searchicon{
    display: none;
}
.search{
    margin-bottom: 35px;
    
}
.searchtape{
    display: flex;
    margin-bottom: 25px;
}
.textRecherche{
    font-size: 1.1rem;
    font-weight: 700;
    font-family: raleway;
}
.ecriture {
    font-size: 1.1rem;
    font-weight: 725;
    font-family: raleway;
}
.fa-map-marker-alt{
    font-size: 1.1rem;
    font-weight: 900;
    padding: 10px 15px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
input[type=search]{
    width: 250px;
    height: 40px;
    border: none;
    text-align: left;
    padding: 10px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    
    
}
input[type=submit]{
    width: 115px;
    height: 40px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    
}
input[type=submit]:hover{
    color: #0065FC;
    background-color: #f2f2f2;
    border: 1px solid #F2F2F2;
    cursor: pointer;
}
.filtres{
    display: flex;
    align-content: inherit;
}

.filtres button{
    display: flex;
    align-items: center ;
    align-items: center;
    height: 50px;
    width: auto;
    border: 3px solid #F2F2F2;
    border-radius: 25px;
    background: none;
    padding: 0 15px 0 0px;
    margin-right: 30px;
    margin-top: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: raleway;
}
.icon{
    position: relative;
    left: -3px;
    font-size: 0.9rem;
    display:flex;
    height:50px;
    width: 50px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    color: #0065FC;
    
}
.inficon{
    display: inline-flex ;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-right: 7px;
    margin-top: 15px;
    justify-content: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px #f2f2f2 solid;
    color: #0065FC;
}
.textinficon{
    padding-bottom: 20px;
    font-size: 1rem;
}
.filtres button:hover .icon{
    color: rgb(0, 61, 173);
    background-color: white;
    border-color: #F2F2F2;
    scale: 1.3;
}
.filtres button:hover{
    background-color: #DEEBFF;
    color: #0065FC;
}
main{
    max-width: 1340px;
    margin: 0 auto;
}
h1{
    margin: 0 0 0.5 0;
    font-weight: 700;
    font-size: 1.3rem;
}
h2{
    font-weight: 700;
    font-size: 1rem;
    margin-right: 45px;
    padding-top: 10px;
       
}

p{
    font-size: 1rem;
    }

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #0065FC;
}
.greyStar{
    color: #f2f2f2;
}
.description {
    margin-top: 25px;
    margin-bottom: 25px;

}
p {
    margin: 0;
    padding: 0;
}

.fas fa-map-marker-alt {
    font-family: "Font Awesome 5 Free";
    display: flex;
    }
/*----------hébergements----------*/

.titreCadre{
    margin: 20 0 0 0px;
    padding: 0 0 0 20px;
}
#Gheberge {
padding: 10px 10px 10px 10px;    
background-color: rgb(242, 242, 242);
border-radius: 20px;
width: 60%;
height: 597.5;
justify-content: space-around;


}
.IMGALL{
    border-radius: 20px 20px 0px 0px;
    height: 55%;
    width: 100%;
    margin: 0;
    
}

.grey {
    color: rgb(206, 206, 206);
}
.blue {
    color: #0065fc;
}
figure {
    display: inline-block;
    
}
.miniature {
    margin: 10px;
    padding: 0px;
    color: black;
    height: 200px;
    width: 255px;
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0px 0px 10px 4px rgba(175, 175, 175, 0.675);
    
    
}

.TexteSousImage{
    margin: 0px;
    padding: 5px;
    font-size: 1rem;
}
h4{
    margin: 0px;
    padding: 5px;
    font-size: 1.1rem;
}
.Affplus{
    padding: 20px 0 0 20px;
    margin: 0 0 20px 0px;
    font-size: 1rem;
    font-weight: 800;
    
}
/*----------Plus populaire----------*/
.pluspopcomplet {
    padding: 10px 10px 10px 10px;    
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
    width: 35%;
    height: 597.5;
    justify-content: space-around;
}
.pluspop {
    margin: 10px;
    padding: 0px;
    color: black;
    height: 142px;
    width: 90%;
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0px 0px 10px 4px rgba(175, 175, 175, 0.675);
    

}
.IMGplupop{
    border-radius: 20px 0px 0px 20px;
    height: 142px;
    width: 120px;
    overflow: hidden;
    float: left;
    margin: 0 15px 0 0;
    
    }
.sectioongroupi {
    display: flex;
    justify-content: space-between;
    }
.Popeticon {
    display: flex;
    justify-content: space-between;
    }
.fa-chart-line {
    margin: 15px 15px 0 0;
    justify-content: space-between;
}
/*----------Activités à Marseille------------>*/

#BlockActivite {
    display: flex;
    width: 1440px
     
}
figure{
    margin: 20px ;
    padding: 0px;
    justify-content: space-between;
    justify-items: auto;
    border-spacing: 15px;  
}
.miniaActivite{
    height: auto;
    width: auto;
    background-color: white;
    border-radius: 20px;
    border: 0px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 4px rgba(175, 175, 175, 0.675);
}
.IMGActiviteBIG{
    border-radius: 20px 20px 0px 0px;
    height: 445px;
    width: 322px;
    margin-top: 0px; 
    
}
.IMGActiviteSMALLa{
    border-radius: 20px 20px 0px 0px;
    height: 210px;
    width: 322px;
    margin: 0px;
           
}
.IMGActiviteSMALLb{
    border-radius: 20px 20px 0px 0px;
    height: 148px;
    width: 322px;
    margin: 0px; 
     
             
}
.IMGActiviteSMALLa1{
    border-radius: 20px 20px 0px 0px;
    height: 180px;
    width: 322px;
    margin: 0px;      
}
.IMGActiviteSMALLb2{
    border-radius: 20px 20px 0px 0px;
    height: 180px;
    width: 322px;
    margin: 0px;          
}
.TexteSousActivit{
    margin: 0px;
    padding: 10px;
    font-size: 1rem;
}
.SmallUpDown {
    margin:0;
    padding: 0;
    justify-content: space-between;
	 
}

/*----------Footer----------*/

footer { 
    
    background-color: #f2f2f2;
    font-size: 1.1rem;
}
.normaliz{
    margin: 0px 300px 0px 40px;
    padding: 45px 0px 45px 0px;
    display: flex;
    justify-content: space-between;
}
.sectionfooter ul{
    padding: 0px 0px 0px 0px;
}
.sectionfooter li{
    padding: 5px 0px 0px 5px;
}



