/*-----------Regle d'ensemble----------*/

body {
    margin: 0px 0px 0px 0px;
    font-family: raleway;
}
li {
    list-style: none; 
}
.decalage{
    margin: 0px 25px 0px 25px;
}

/*----------Header----------*/

/*----------Titre principale----------*/

h1 {
    color: #0065fc;
    font-family: rango;
    display: inline;
    margin-top: 0px;
    text-size-adjust: 10px;
}

/*----------Menu de navigation principal---------*/

.menu {
    display: flex;
    justify-content: space-evenly ;
    margin-left: 650px;
    margin-top: 35px;
    margin-bottom: 0px;
}

.menu a{
    color: black;
    font-weight: normal;
    text-decoration: none;
    border-top : 4px;
    padding-top : 32px;
    padding-left: 15px;
    padding-right: 15px;
}

#register {
    color: #0065fc;
    font-weight: bold;
    text-decoration: none;
    border-top : 4px;
    padding-top : 32px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu a:hover{
    border-top: 4px #0065fc solid;
    color: #0065fc;
    font-weight: bold;
    }

/*-----------Section de recherche----------*/

.searchicon{
    display: none;
}
.search{
    margin-bottom: 35px;
}
.searchtape{
    display: flex;
    margin-bottom: 25px;
}
.fa-map-marker-alt{
    padding: 15px 19px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
input[type=search]{
    width: 235px;
    height: 50px;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
input[type=submit]{
    width: 134px;
    height: 51px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
input[type=submit]:hover{
    color: #0065FC;
    background-color: #f2f2f2;
    border: 1px solid #F2F2F2;
    cursor: pointer;
}
.filtres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.filtres h3{
    margin-right: 30px;
    margin-bottom: 30px;
}
.filtres button{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1.06rem;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    background: none;
    padding: 0 20px 0 0;
    margin-right: 24px;
    outline: none;
    cursor: pointer;
}
.icon{
    display: flex;
    height: 50px;
    width: 50px;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 50px;
    color: #0065FC;
}
.inficon{
    display: inline-flex ;
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    justify-content: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px #f2f2f2 solid;
    color: #0065FC;
}
.filtres button:hover .icon{
    color: rgb(0, 0, 0);
    background-color: white;
    border-color: #F2F2F2;
}
.filtres button:hover{
    background-color: #DEEBFF;
    color: #0065FC;
}
main{
    max-width: 1340px;
    margin: 0 auto;
}
h2{
    font-size: 1.25rem;
    margin: 0;
}
h3{
    font-size: 1.06rem;
    font-weight: bold;
}

p{
    font-size: 0.8rem;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #0065FC;
}
.greyStar{
    color: #F2F2F2;
}

/*----------Je suis une comme----------*/
.description {
    margin-top: 25px;
    margin-bottom: 25px;
}
h2 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.fas fa-map-marker-alt {
    font-family: "Font Awesome 5 Free";
    font-size: medium;
    display: flex;
    }
/*----------Footer----------*/
footer { 
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
}

